.nav-item {
  padding-right: 250px !important;
}
.navbar-brand {
  padding-right: 10px;
  margin-right: 10px;
  width: 35%;
}

.collapse {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  flex: none;
  align-items: center;
}
